extends ../layout/main

block content
  section
    ol
      li 
        p Написать функцию
        p promiseReduce(asyncFunctions, reduce, initialValue)
        p asyncFunctions - массив асинхронных функций, возвращающих промис
        p reduce(memo, value) - функция, которая будет вызвана для каждого успешно завершившегося промиса.
        p initialValue - стартовое значение для функции reduce
        p promiseReduce последовательно вызывает переданные асинхронные функции
        p и выполняет reduce функцию сразу при получении результата до вызова следующей асинхронной функции. Функция promiseReduce должна возвращать промис с конечным результатом.