extends ../layout/main

block content
  section
    ol
      li 
        p Написать функцию maxItemAssociation(), получающую исторические данные покупок пользователей и возвращающую максимальный список рекомендаций.
        p Входные данные - массив исторических покупок пользователей [["a", "b"], ["a", "c"], ["d", "e"]]. То есть
        p пользователь 1 купил "a" и "b". Пользователь 2 купил продукты "a", "c". Пользователь 3 купил
        p продукты "d", "e".
        p Надо найти максимальную группу рекомендаций. Группа рекомендаций - это продукты, которые был
        p куплены другими пользователями при условии, если они пересекаются с исходным списком.
        p Если количество рекомендаций в группах одинаковое - вернуть первую группу, из отсортированных в
        p лексикографическом порядке.
        p Решение:
        p Группа рекомендаций 1 - ["a", "b", "c"]. Покупка "a" содержится в списке 2, поэтому весь список 2 может
        p быть добавлен в рекомендации.
        p Группа рекомендаций 2 - ["d", "e"].
        p Ответ: ["a", "b", "c"].
        p Пример 2:
        p Входные данные: [
        p ["q", "w", 'a'],
        p ["a", "b"],
        p ["a", "c"],
        p ["q", "e"],
        p ["q", "r"]
        p ]
        p Ответ ["a", "b", "c", "e", "q", "r", "w"] - это максимальная по пересечениям группа. Можно видеть, что первый массив пересекается со
        p всеми остальными, и потому результат является всем множеством значений.